<h2>Projects</h2>
<section id="projects">
    <div class="container" *ngFor="let project of data">
        <article (click)="displayProject(project)"> 
            <div>
                <figure class="image project-figure">
                    <img src="{{project.link}}">
                </figure>
            </div>
            <div>
                <p class="project-name">
                    {{project.name}}
                </p>
            </div>
        </article>
    </div>
</section>

<!-- The Modal -->
<div id="projectModal" class="modal" [ngStyle]="{'display':showModal ? 'block' : 'none' }" >

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="showModal = false;">&times;</span>
        <h2>{{currentProject.name}}</h2>
      </div>
      <div class="modal-body">
        <div class="image-container">
                <div class="row"> 
                        <div class="column" *ngFor="let image of currentProject.images" >
                          <img src="{{image}}" style="width:100%">
                        </div>
                </div>           
        </div>
        <p class="project-desc">{{currentProject.description}}</p>
      </div>
    </div>
  
  </div>